.nav-link {

    color:#000c68 !important;
}

@media (min-width: 868px) {
    navbar-toggler {

        display: none;
    }

}



section {
    width: 100%;
    background-color: white;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



 .logo-img  {
    width: 3.5em;

}

.hero {
    background-image: url("../img/home/hero.jpg");
}

.bg {
    width: 100vw;
    background-color: #210938;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    margin-top: auto;
    line-height: 2rem;
    font-size: 2rem;
    color: white;
}

.hero-text span {
    font-size: 1rem;
}


.V {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.V img {
    width: 50%
}
.home-block {
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid darkblue;
}

.title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    /* font-size: 4vmax;
    line-height: 4vmax; */
}

.text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    /* font-size: 2vmax;
    line-height: 2vmax; */
    text-align: center;
}

.event-date {
    position: absolute;
    background-color: rgba(11, 65, 109, 0.7);
    top: 3%;
    right: 3%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    padding: 5% 1%;
}

.find {
    background-image: url('../img/home/find-back.jpg');
    justify-content: space-around;
}

.member-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width:1600px) and (max-width:3360px) {
.left-header-content {
    margin-left: 45%;
}
.header-title {
    margin-left: 2%;
}

.container-fluid {
    margin-left: 10% !important;
}

.join-header {
    color: white;
    background-color: #000c68;
    border: 1px;
    width: 150%;
    margin-top:13%

}
}

@media (min-width:1100px) and (max-width:1599px) {
.left-header-content {
    margin-left: 25%;
}
.header-title {
    margin-left: 2%;
}

.container-fluid {
    margin-left: 10% !important;
}

.join-header {
    color: white;
    background-color: #000c68;
    border: 1px;
    width: 150%;
    margin-top:13%

}
}

@media (min-width:10px) and (max-width:767px) {


.join-header {
    color: white;
    background-color: #000c68;
    border: 1px;

}
}


@media (min-width:768px) and (max-width:830px) {
.left-header-content {

}
.header-title {
    margin-left: 2%;
}
.container-fluid {

    margin-left: 2% !important;
}

.join-header {
    color: white;
    background-color: #000c68;
    border: 1px;
    width: 150%;
    margin-top:13%

}
}

@media (min-width:830px) and (max-width:1000px) {
.left-header-content {
    margin-left: 5%;
}
.header-title {
    margin-left: 2%;
}
.container-fluid {

    margin-left: 5% !important;
}

.join-header {
    color: white;
    background-color: #000c68;
    border: 1px;
    width: 150%;
    margin-top:13%

}

}


@media (min-width:1001px) and (max-width:1099px) {
.left-header-content {
    margin-left: 10%;
}
.header-title {
    margin-left: 2%;
}
.container-fluid {

    margin-left: 10% !important;
}
.join-header {
    color: white;
    background-color: #000c68;
    border: 1px;
    width: 150%;
    margin-top:13%

}

}







