section {
    width: 100%;
    background-color: white;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    background-image: url("home/hero.jpg");
}

.bg {
    width: 100vw;
    background-color: #210938;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-text {
    margin-top: auto;
    line-height: 2rem;
    font-size: 2rem;
    color: white;
}

.hero-text span {
    font-size: 1rem;
}


.V {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.V img {
    width: 50%
}
.home-block {
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid darkblue;
}

.title {
    font-size: 2.25rem;
    line-height: 2.5rem;
    /* font-size: 4vmax;
    line-height: 4vmax; */
}

.text {
    font-size: 1.25rem;
    line-height: 1.5rem;
    /* font-size: 2vmax;
    line-height: 2vmax; */
    text-align: center;
}

.event-date {
    position: absolute;
    background-color: rgba(11, 65, 109, 0.7);
    top: 3%;
    right: 3%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    padding: 5% 1%;
}

.find {
    background-image: url('home/find-back.jpg');
    justify-content: space-around;
}

.member-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
